/* yeseva-one-regular - latin */
@font-face {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/yeseva-one-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/yeseva-one-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-sans-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html { 
  box-sizing: border-box;
} 
  *, *::before, *::after {
    box-sizing: inherit;
}


body {
  font-family: 'Yeseva One';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #E3B873;
    
}
  
.img {
   max-width: 100%;
   height: auto;
}
  
.wrapper {
  max-width: 1147px;
  margin: 0 auto;
        
}
  
a {
  cursor: pointer;
}


/*header style start */


.header {
  background-color: #131313;
   
}


.header__wrapper {
  max-width: 1438px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding: 37px 0;
  

}

.header__logo {
  margin-block: auto;
}

.header__nav {
  margin-block: auto;
}

.header__logo__link {
  color: #E3B873;
  text-decoration: none;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  
}

.header__item {
  margin-right: 47px;

}

.header__link {
  font-size: 11px;
  left: 15px;
  color: #FFF;
  text-decoration: none;

} .namber {
  color: #E3B873;
  border-bottom: #E3B873;
} 
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: .75;
}

.button__tap {
  padding: 11px 33px;
  background-color: #E3B873;
  color: #FFF;
  cursor: pointer;
 
}

.button__tap:hover, .button__tap:focus, .button__tap:active {
  opacity: .75;
}
/*don*/


.don {
  height: 707px;
  width: auto;
  background: url(../img/hero.png) rgba(0, 0, 0, 0.7) no-repeat;
  background-size: cover;
  color: #FFF;
  background-blend-mode: multiply;
  margin-bottom: 22px;


}
.conteiner {
  padding-top: 190px;
}





.don__title {
  max-width: 576px;
  font-size: 40px;
  Line-height: 54px;
  font-family: 'Yeseva One';
  margin-bottom: 19px;


 
}
 .don__subtitle {
  max-width: 510px;
  font-size: 22px;
  Line-height: 36px;
  font-family: 'Nunito Sans';

 }
 /*button*/

.form__wrap {
  margin-top: 41px;
  
}

.button__tap-1 {
  padding: 19px 42px;
  background-color: #E3B873;
  color: #FFF;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  margin-right: 20px;
  font-family: 'Nunito Sans';
  font-size: 11px;
  line-height: 15px;

} 


.button__tap-2 {
  padding: 17px 21px;
  color: #FFF;
  cursor: pointer;
  background: none;
  border-radius: 2px;
  border-color: rgb(89, 89, 89);
  font-family: 'Nunito Sans';
  font-size: 11px;
  line-height: 15px;
}
 

 






 /* 
    
}

.header__logo-link {
  font-family: 'Nunito Sans';
  font-size: 11px;
  line-height: 15px;
  color: #E3B873;
  text-decoration: none;
  margin-right: 95px;
    

}/*

.header__item {
  margin-right: 47px;
    
}

.header__item-contact {
  margin-left: 67px;
}

.header__link-namber {
  color: #E3B873;

}

.header__link {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 15px; 
    text-decoration: none;
    font-family: 'Nunito Sans';
}

.button__tap {
  padding: 13px 33px;
}



